body{
    background: #81B29A;
}

.todo {
    padding: 25px;
    background: #3D405B;
    margin: auto;
}

.titulo{
    font: bold 20px verdana;
    background: #F4F1DE;
    text-align: left;
}

.menu{
    background: #F2CC8F
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 18px monospace;
    display: inline-table;
}

.seccion{
    padding: 10px;
    background: #81B29A;
    text-align: left;
    width: 75%;
    float: left;

}

.mensajes{
    text-align: left;
    width: 200px;
    float: left;
    border: 3px solid #81B29A
}

.derechos{
    padding: 10px;
    text-align: center;
    clear: both;
}

article{
    background: #E07A5F;
}